<br>
<div class="row">
        <h1 class="title has-text-centered">Register</h1>
        <div class="columns is-vcentered is-centered">
            <div class="column is-half">
                <div class='box'>
                    <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
                </div>
            </div>
    </div>
</div>