<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="<%= Routes.static_path(@conn, "/images/favicon/favicon.ico") %>"/>

    <title>Crimemap · Map of crimes.</title>
    <script src="https://kit.fontawesome.com/a03b4c51b2.js"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="<%= Routes.static_path(@conn, "/images/logo/menu.png") %>" width="32" height="32">
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <%= link "Profile", to: Routes.user_path(@conn, :show), method: :get, class: "navbar-item" %>
            <a class="navbar-item">
              About
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <%= if signed_in?(@conn) do %>
                  <%= link "Logout", to: Routes.session_path(@conn, :delete), method: :delete, class: "button is-light" %>
                <% else %>
                  <%= link "Sign up", to: Routes.user_path(@conn, :new), class: "button is-primary" %>
                  <%= link "Log in", to: Routes.session_path(@conn, :new), method: :get, class: "button is-light" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
