<section class="row">
  <article class="column">
    <h2>Menu</h2>
    <ul>
      <%= if signed_in?(@conn) do %>
        <li><%= link "Profile", to: Routes.user_path(@conn, :show), method: :get %></li>
      <% end %>
    </ul>
  </article>
</section>
